<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imgncreative.keyboardsehat">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_keyboard_sehat"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_keyboard_sehat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PopActivty" android:theme="@style/AppTheme.Popme" android:screenOrientation="nosensor"></activity>
        <activity android:name=".PopPinData" android:theme="@style/AppTheme.Popme" android:screenOrientation="nosensor"></activity>

        <activity
            android:name=".AturPin"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Poppin"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Home"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Pemasangan"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".AddEdit"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Panduan"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Bantuan"
            android:screenOrientation="nosensor" />

        <service
            android:name=".SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
    </application>

</manifest>